<!-- 
<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Employee Manager</span>
      <span class="example-spacer"></span>
      
    </mat-toolbar-row>

    
  </mat-toolbar>
</p>

<div class="login-container">
  
  
  <form action="/action.php" method="post">
    <h1>Login</h1>
  <mat-form-field>
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="example@mail.com" [formControl]="email" required>
    @if (email.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
    }
  </mat-form-field>

<div>

  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button   mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field></div>
 
 <button  mat-button color="primary">Submit</button>
</form>
</div>



<router-outlet></router-outlet> -->
<app-employee></app-employee>